/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-size: 62.5%;
  font-size: 1em;
  line-height: 1.3em;
  font-family: 'Inter', monospace;
  font-weight: 300;
  background: rgb(15, 17, 22);
  overflow-y: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

input[disabled="disabled"], input[disabled="disabled"]:hover {
  opacity: 0.7;
}

.group:before, .group:after {
  content: " ";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

::-webkit-scrollbar {
  background-color: rgb(15, 17, 22);
  width: 5px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background:  rgb(60, 77, 75);
  border-radius: 10px;
}

::-webkit-scrollbar:horizontal {
  background-color: rgb(15, 17, 22);
  height: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes fade {
  0% {
      opacity: 0;
      visibility: hidden;
  }

  100% {
      opacity: 1;
      visibility: visible;
  }
}

.kpro__main-container {
  background: rgb(15, 17, 22);
  width: 100%;
  height: 100%;
  color: white;
  height: 100%;
  opacity: 1;
  display: inherit;
  animation: fade 300ms;
}

.kpro__update-container {
    display: inherit;
}

.kpro__btns-container {
  width: 100%;
  margin: 1em auto;
}

.kpro__label-container {
  width: 85%;
  margin: 3em auto 1em auto;
  text-align: center;
  font-size: .9em;
  font-weight: 100;
}

.kpro__fw-container {
  float: right;
  text-align: center;
  width: 50%;
  padding: 0;
  box-sizing: border-box;
}

.kpro__db-container {
  float: left;
  text-align: center;
  width: 50%;
  padding: 0;
  border-right: solid 1px white;
  box-sizing: border-box;
}

.kpro__btn {
  font-family: 'Inter', monospace;
  background: none;
  padding: .1em 0;
  color: #FF6400;
  border: none;
  border-bottom: 1px solid #FF6400;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: .85em;
  font-weight: 500;
  outline: none;
  margin: .4em .5em;
}

.kpro__btn:disabled,
.kpro__btn[disabled] {
  color: #FF6400aa;
  border-bottom: 1px solid #FF6400aa;
}

.kpro__img-container {
  width: 95%;
  margin: .5em auto;
}

.kpro__img {
  width: 20%;
  display: block;
  margin: 0 auto;
  padding: 1.5em 0 1em 0;
  box-sizing: border-box;
}

.kpro__load-progress-bar-container {
  width: 50%;
  margin: 3em auto 2em auto;
}

#progress-bar {
  width: 100%;
}

progress {
  border-radius: 5px;
  height: 5px;
  background: white;
}

progress::-webkit-progress-bar {
  border-radius: 5px;
  height: 5px;
  background: white;
}

progress::-webkit-progress-value {
  background: #FF6400;
  border-radius: 5px;
}

progress::-moz-progress-bar {
  background: white;
}

progress::-moz-progress-value {
  background: #FF6400;
  border-radius: 5px;
}

.kpro__message-log-container {
  margin: 2em auto;
  text-align: center;
  width: 90%;
}

.kpro__message {
  font-size: .8em;
  background: white;
  padding: .5em 1em;
  color: rgb(15, 17, 22);
  box-sizing: border-box;
  display: inline-block;
}

.kpro-message-close {
  background: none;
  border: none;
  color: rgb(217, 59, 59);
  cursor: pointer;
  padding: 0;
}

.kpro__fw-changelog, .kpro__version {
  background: none;
  border: none;
  font-family: 'Inter', monospace;
  color: white;
  font-weight: 200;
  font-size: .75em;
  outline: none;
  padding: 0;
  padding-bottom: .2em;
  border-bottom: 1px solid white;
}

.kpro__version {
  display: inline-block;
  border-bottom: none;
}

.kpro__modal-body {
  background: red;
  font-family: 'Inter', monospace;
}

.kpro__display-none {
  display: none;
}

.kpro__fw-local-update, .kpro__fw-online-update, .kpro__erc20-local-update, .kpro__erc20-online-update {
    display: inline-block;
}

.kpro__heading {
    font-size: 1.1em;
    font-weight: 700;
    padding: .5em 0 .8em 0;
}

.kpro__or {
    font-weight: 600;
    font-size: .85em;
}

.kpro__usb-img-container {
    width: 400px;
    margin: 1em auto;
    padding: 6em 0;
}