body {
  width: 90%;
  margin: 2em auto;
  font-size: 62.5%;
  font-size: .95em;
  color: rgb(55, 55, 55);
  line-height: 1.4em;
  font-family: 'Inter Mono', monospace;
  font-weight: 300;
  overflow-y: scroll;
}

.group:before, .group:after {
  content: " ";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

::-webkit-scrollbar {
  background-color: white;
  width: 5px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background:  rgb(60, 77, 75);
  border-radius: 10px;
}

::-webkit-scrollbar:horizontal {
  background-color: white;
  height: 5px;
}

pre {
  background: rgb(245, 245, 245);
  padding: 1em;
  box-sizing: border-box;
  color: rgb(80, 80, 80)
}

a {
  color: rgb(55, 55, 55);
  text-decoration: none;
  border-bottom: solid 1px rgb(55, 55, 55);
}